/* src/styles/navbar.css */


.sidebar-container {
    width: 240px;         
    height: 100vh;         
    background: #050511;   
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 30px 20px;    
    position: sticky;      
    top: 0;
    flex-shrink: 0;        

    box-sizing: border-box; 
}

/* 2. Logo */
.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    margin-bottom: 40px; 
    color: white;
}

.logo-text {
    font-size: 1.3rem;  
    font-weight: 800;
    letter-spacing: 1px;
}

.logo-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* 3. Links */
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


.nav-item {
    color: #a0a0b0;        
    text-decoration: none;
    font-size: 0.95rem;    
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 10px 15px;    
    border-radius: 8px;   
    display: block;
}

.nav-item:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
}

.nav-item.active {
    color: #ffffff;
    font-weight: 700;
    background:linear-gradient(135deg, #020617, #0f3483 60%, #5853e0);  
    box-shadow: 0 4px 10px rgba(124, 58, 237, 0.3);
}

/* Logout button */
.sidebar-bottom {
    margin-top: auto;
}

.btn-logout {
    background: transparent;
    border: 1px solid #333;
    color: #9ca3af;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.9rem;
}

.btn-logout:hover {
    border-color: #ef4444;
    color: #ef4444;
}