/* NAVBAR MAIN WRAPPER */
.navbar-container {
  width: 100%;
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT SECTION */
.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LOGO */
.nav-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #121213;
  text-decoration: none;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  font-size: 0.95rem;
  color: #4b5563;
  text-decoration: none;
  font-weight: 500;
}

.nav-item:hover {
  color: #111827;
}

/* RIGHT SECTION */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;         /* <-- FIXES OVERFLOW */
}

/* PRIMARY BUTTON */
.btn-primary {
  color: white;
  background: linear-gradient(135deg, #0b0b0b, #7c3aed);
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  white-space: nowrap;  /* prevent breaking */
}

/* LOGOUT BUTTON */
.btn-logout {
  background: #121212;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;  /* prevents overflow */
}

.btn-logout:hover {
  background: #37226b;
}
/* HOVER EFFECT */
.nav-item:hover {
  color: #0d0d0e;                
  font-weight: 600;
}

/* WHEN CLICKED (ACTIVE CLICK DOWN) */
.nav-item:active {
  color: #3730a3;
  transform: scale(0.97);
}

/* KEYBOARD SELECTION / AFTER CLICK FOCUS */
.nav-item:focus {
  color: #4f46e5;
  font-weight: 700;
  outline: none;
  position: relative;
}

/* UNDERLINE EFFECT WHEN FOCUSED */
.nav-item:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;

  border-radius: 2px;
}

/* LOGO LINK WRAPPER */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;               /* spacing between logo and text */
  text-decoration: none;
}

/* IMAGE SIZE */
.nav-logo-img {
  height: 36px;           /* increase logo size */
  width: auto;
  object-fit: contain;
}

/* TEXT */
.nav-logo-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: #131415;
}
